@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/

@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

body {
  background: url(../img/background/cosmos-1920.png) no-repeat;
  width: 100%;
  height: 100%;
}

.section-form__container {
  max-width: 389px;
  width: 100%;
  margin: 0 auto;
}

.section-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-form__flex {
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.section-form__flex-title {
  font-family: "Roboto-Medium";
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 19px rgba(0, 0, 0, 0.97);
}

.section-form__wrap {
  background: #171929;
  padding: 41px 45px;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
  border-radius: 27px;
  width: 100%;
}

.section-form__wrap-title {
  font-family: "Roboto-Regular";
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.section-form__wrap-necessarily {
  font-family: "Roboto-Light";
  margin-top: 11px;
  display: block;
  text-align: center;
  font-size: 15px;
  line-height: 120%;
  color: #797EA3;
}

.section-form__wrap .label {
  color: #797EA3;
}

.section-form__wrap .label__main-text {
  font-family: "Roboto-Light";
  margin-bottom: 3px;
  font-size: 15px;
  line-height: 120%;
}

.section-form__wrap .label__input {
  font-family: "Roboto-Regular";
  background-color: initial;
  border-bottom: 1px solid #3F4363;
  color: #FFFFFF;
  margin-bottom: 38px;
  caret-color: white;
  width: 100%;
  height: 22px;
  padding: 4px 0;
}

.section-form__wrap .label__text {
  background-color: initial;
  border-bottom: 1px solid #3F4363;
  max-height: 115px;
  max-width: 299px;
  width: 100%;
}

.section-form__wrap .flex-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.section-form__wrap .flex-block__container input {
  width: 0px;
  height: 0px;
}

.section-form__wrap .flex-block__text {
  font-family: "Roboto-Light";
  font-size: 15px;
  line-height: 120%;
  color: #797EA3;
  margin-left: 12px;
}

.section-form__wrap .flex-block__text span {
  text-decoration: underline;
  color: #acaec9;
}

.section-form__wrap .flex-block__send {
  cursor: pointer;
  font-family: "Roboto-Regular";
  display: block;
  margin: 0 auto;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  width: 121px;
  height: 44px;
  background: #2C2F47;
  border-radius: 28px;
}

.section-form__wrap .flex-block__jackdaw {
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
  background: #2C2F47;
  width: 31px;
  height: 31px;
  border-radius: 8px;
}

.section-form__wrap .flex-block__jackdaw:hover {
  background: #363a55;
}

.section-form__wrap .flex-block__check-mark {
  display: none;
  width: 100%;
  height: 100%;
  background: url(../img/Vector.svg) center no-repeat !important;
}

.check-mark {
  display: block !important;
}

@media (max-width: 380px) {
  .section-form__wrap {
    background: #171929;
    padding: 31px 35px;
  }
}

.webp body{ background: url(../img/background/cosmos-1920.webp) no-repeat; }