@font-face {
    font-family: "Roboto-Medium";
    font-display: swap;
    src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "Roboto-Light";
    font-display: swap;
    src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "Rubik-Bold";
    font-display: swap;
    src: url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "Rubik-Medium";
    font-display: swap;
    src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}